{% extends "base.html" %}
{% block content %}

<div class="container" dir="rtl">
    <h2>بيانات الطلاب</h2>
    <table>
        <thead>
            <tr>
                <th>الاسم الأول</th>
                <th>الاسم الأخير</th>
                <th>العمر</th>
                <th>الجنس</th>
                <th>المرحلة الجامعية</th>
                <th>منتظم</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.FirstName }}</td>
                <td>{{ student.LastName }}</td>
                <td>{{ student.Age }}</td>
                <td>{{ student.Gender }}</td>
                <td>{{ student.Level }}</td>
                <td>{{ student.Status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}